.form-widget {
  width: 500px;
  font-family: 'Tahoma', sans-serif;
}

fieldset {
  padding: 30px;
  display: flex;
  flex-direction: column;

  background-color: bisque;
  border-radius: 30px;
  border: 3px solid brown;
}

legend {
  padding: 5px;
  text-align: center;
  color: white;
  font-size: 20px;
  border: 2px solid gray;
  border-radius: 5px;
  background-color: blue;

  cursor: move;
}

.cards-row {
  display: flex;
  width: 400px;
  margin-bottom: 10px;

  justify-content: space-around;
}

.card-box {  
  width: 40px;
  height: 32px;
}

label {
  display: block;
  margin-bottom: 10px;
}

.number-field {
  box-sizing: border-box;
  height: 35px;
  width: 300px;
  padding-right: 10px;
  padding-left: 10px;

  border-radius: 5px;
  background-color: lightgray;
}

.btn {
  height: 35px;

  border-radius: 10px;
  background-color: lightgreen;
}

.blur {
  opacity: 0.2;
}

.message-box {
  display: none;
  margin-top: 10px;
  font-style: italic;
}

.error {
  display: block;
  color: red;  
}

.valid {
  display: block;

  color: green;
  font-weight: 700;
}